<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>Boggle</title>
</head>
<body>
    <h1 id="title">Boggle!</h1>
    <div class="variables">
        <p>High Score: {{ highscore }} </p>
        <p>Games Played: {{ numplays }}</p>
        <div id="score">
            <!-- Score is added dynamically in JS -->
        </div>
        <div id="timer">
            <!-- Score is added dynamically in JS -->
        </div>
    </div>  
    <table class="board">
        {% for i in board %}
            <tr>
                {% for y in i %}
                <td>{{y}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form class="add-word">
        Word:
        <input type="text" class="word" name="word" autofocus>
        <button>Check</button>
    </form>
    <div class="text-container">
        <p id="response"></p>
    </div>
    <ul class="words">
        <b>Words</b>
        <!-- Words are added dynamically in JS -->
    </ul>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="http://unpkg.com/jquery"></script>
    <script src="static/app.js"></script>
</body>
</html>